__pycache__
sirg.egg-info
.ipynb_checkpoints
.coverage
*.swp
*.egg-info/
*.egg
__pycache__/

.pytest_cache/
.benchmarks/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.log
local_settings.py

*.npy
